<%# Navbar %>
<div class="border-bottom bg-white">
  <div class="container d-flex align-items-center justify-content-between py-2">
        <%# Movie picture %>
        <%= image_tag "popcorn.jpg", height: 50%>
        <!-- Link to create list page -->
        <%= link_to 'New list 📑', new_list_path %>
  </div>
</div>


<%# Background Image and Text %>
<div class = "banner mb-4 d-flex align-items-center justify-content-center" style="background-image: url(<%= asset_path 'cinema.png' %>); height: 50vh;" background-size: cover >
    <div class="text-center text-white">
      <h1> Movie List 🍿 </h1>
    </div>
</div>

<%# List Titles%>
<div class="row">
  <ul class= "d-flex justify-content-around">
  <% @lists.each do |list| %>
    <li style="list-style-type: none; display:inline-block; "> <%= link_to list.name, list_path(list) %>
        </li>
  <% end%>
  </ul>
</div>

<%# Containers %>
<div class="row">
    <ul class="list-cards d-flex justify-content-around">
      <% @lists.each do |list| %>
        <% if list.photo.attached?%>
          <%= cl_image_tag list.photo.key, height: 200, width: 300, crop: :fill %>
        <% end %>
      <% end %>
    </ul>
</div>
